.Results {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 5%, #bcfdb6 20%, #7a8bd6 100%);
    /* padding-bottom: 80px; */
}

.results-header {
    font-weight: bold;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 2.4rem;
}

.Results .results-container {
    padding: 5%;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}