.Results{
    padding-bottom: 80px;
}

.Results-header {
    font-weight: bold;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 2rem;
    color: rgb(65, 85, 177);
}

.Results-container {
    padding: 5%;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    justify-items: center;
}

@media (max-width: 700px) { 
    .Results-container {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));  
    } 
}