.Main {
  padding: 100px 50px 40px;
  background: url("/coconut1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 80px;
}

.Main h2 {
  margin-left: 5px;
  color: rgb(65, 85, 177);
  font-size: 28px;
  font-weight: bold;
}
.Main .container-maintext {
  position: relative;
  box-sizing: border-box;
  background: rgba(255,255,255,0.5);
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.Main .container-buttons {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 50px;
  width: 80%;
}

.Main .container-buttons-boxes {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}

.Main .container-select {
  border: none;
  padding: 10px;
  background-color: #21b6a8;
  width: 100%;
  border-radius: 4px;
  color: white;
  font-size: 17px;
  font-weight: 400;
  box-shadow: -10px -10px 20px 0 rgba(255, 255, 255, 0.7),
    10px 17px 20px 0 rgba(0, 0, 0, 0.2);
}

.Main .container-select:hover {
  box-shadow: inset -7px -7px 20px 0 rgba(255, 255, 255, 0.7),
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
}
.Main button {
  width: 100%;
  border: none;
  margin-bottom: 10px;
  border-radius: 4px;
  color: white;
  background-color: rgb(65, 85, 177);
  padding: 10px;
  font-size: 17px;
  font-weight: 400;
  box-shadow: -7px -7px 30px 0 rgba(255, 255, 255, 0.7),
    6px 6px 30px 0 rgba(0, 0, 0, 0.2);
}

.Main button:hover {
  box-shadow: inset -7px -7px 20px 0 rgba(53, 5, 54, 0.7),
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
}

span {
  font-size: 20px;
  color: rgb(65, 85, 177);
  margin-right: 15px;
  font-weight: 600;
}

hr.hr1 {
  display: none;
}

a {
  text-decoration: none;
}

@media (min-width: 600px) {

  .Main {
    width: 100%;
  }

  .Main h2 {
    color: rgb(65, 85, 177);
    font-size: 50px;
    font-weight: 600;
    margin-top: 60px;
  }
  .Main .container-main {
    display: grid;
    grid-template-columns: 1fr;
  }

  .Main .container-maintext {
    position: relative;
    box-sizing: border-box;
    background: rgba(255,255,255,0.5);
    height: 400px;
    width: 400px;
    border-radius: 5px;
  }

  span {
    font-size: 30px;
    color: rgb(65, 85, 177);
    margin-right: 20px;
    font-weight: 600;
  }
  hr.hr1 {
    border: 0.3px solid #cfc5c5;
    margin-top: 50px;
    width: 30%;
    display: block;
  }

  span:nth-child(10) {
    margin-right: 15px;
    margin-top: 40px;
  }

  .Main .container-p {
    color: #a9a9a9;
    font-size: 25px;
    font-weight: 600;
    margin-top: 40px;
    color: rgb(65, 85, 177);
  }

  .Main .container-buttons {
    margin-top: 15vh;
    width: 30%;
  }

  .Main .container-buttons-boxes {
    display: grid;
    grid-template-columns: 1fr;
  }

  .Main .container-select {
    border: none;
    padding: 15px;
    background-color: rgb(65, 85, 177);
    width: 100%;
    border-radius: 4px;
    color: white;
    font-size: 20px;
    font-weight: 540;
    box-shadow: -10px -10px 20px 0 rgba(255, 255, 255, 0.7),
      10px 17px 20px 0 rgba(0, 0, 0, 0.2);
  }
  .Main .container-form {
    margin-top: 5vh;
  }

  .Main .container-select:hover {
    box-shadow: inset -7px -7px 20px 0 rgba(255, 255, 255, 0.7),
      inset 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
  }
  .Main button {
    width: 100%;
    border: none;
    border-radius: 4px solid transparent;
    color: white;
    background-color: #21b6a8;
    padding: 15px;
    font-size: 20px;
    font-weight: 540;
    box-shadow: -10px -10px 20px 0 rgba(255, 255, 255, 0.7),
      10px 17px 20px 0 rgba(0, 0, 0, 0.2);
  }

  .Main button:hover {
    box-shadow: inset -7px -7px 20px 0 rgba(255, 255, 255, 0.7),
      inset 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
  }

  a {
    text-decoration: none;
  }
}
