.Main {
  margin-top: 20vh;
  background-color: white;
}

.Main h2 {
  margin-left: 5px;
  color: #21b6a8;
  font-size: 28px;
  font-weight: 600;
}

.random-container img {
  width: 50%;
}
.Main .container-buttons {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 50px;
}

.Main .container-buttons-boxes {
  display: grid;
  grid-template-columns: 1fr;
}

.Main .container-select {
  border: none;
  padding: 10px;
  background-color: #21b6a8;
  width: 100%;
  border-radius: 4px;
  color: white;
  font-size: 17px;
  font-weight: 400;
  box-shadow: -10px -10px 20px 0 rgba(255, 255, 255, 0.7),
    10px 17px 20px 0 rgba(0, 0, 0, 0.2);
}

.Main .container-select:hover {
  box-shadow: inset -7px -7px 20px 0 rgba(255, 255, 255, 0.7),
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
}
.Main button {
  width: 100%;
  border: none;
  margin-bottom: 10px;
  border-radius: 4px;
  color: white;
  background-color: rgb(65, 85, 177);
  padding: 10px;
  font-size: 17px;
  font-weight: 400;
  box-shadow: -7px -7px 30px 0 rgba(255, 255, 255, 0.7),
    6px 6px 30px 0 rgba(0, 0, 0, 0.2);
}

.Main button:hover {
  box-shadow: inset -7px -7px 20px 0 rgba(53, 5, 54, 0.7),
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
}


span {
  font-size: 20px;
  color: rgb(65, 85, 177);
  margin-right: 15px;
  font-weight: 600;
}

hr.hr1 {
  display: none;
}

.random-container-p {
  margin-top: 40px;
  font-weight: bold;
  text-align: center;
  font-family: "Shadows Into Light", cursive;
  font-size: 2rem;
  color: rgb(65, 85, 177);
  margin-bottom: 25px;
}

.random-container-title {
  text-align: center;
  margin-bottom: 40px;
  color: rgba(104, 99, 99, 0.822);
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

@media (min-width: 600px) {
  .Main {
    margin-bottom: 150px;
    padding-bottom: 40px;
    padding-top: 40px;
    background-image: url('/public/tropical2.jpg');
    width: 100%;
  }

  .Main h2 {
    margin-left: 10px;
    color: #21b6a8;
    font-size: 50px;
    font-weight: 500;
  }
  .Main .container-main {
    display: grid;
    grid-template-columns: 1fr;
  }

  span {
    font-size: 30px;
    color: rgb(65, 85, 177);
    margin-right: 20px;
    font-weight: 600;
  }
  hr.hr1 {
    border: 0.3px solid #cfc5c5;
    margin-top: 50px;
    width: 30%;
    display: block;
  }

  span:nth-child(10) {
    margin-right: 15px;
    margin-top: 40px;
  }

  .Main .container-p {
    color: #a9a9a9;
    font-size: 25px;
    font-weight: 600;
    margin-top: 40px;
    color: rgb(65, 85, 177);
  }

  .Main .container-buttons {
    margin-top: 15vh;
    margin-left: 20px;
    width: 30%;
  }

  .Main .container-buttons-boxes {
    display: grid;
    grid-template-columns: 1fr;
  }

  .Main .container-select {
    border: none;
    padding: 15px;
    background-color: rgb(65, 85, 177);
    width: 100%;
    border-radius: 4px;
    color: white;
    font-size: 20px;
    font-weight: 540;
    box-shadow: -10px -10px 20px 0 rgba(255, 255, 255, 0.7),
      10px 17px 20px 0 rgba(0, 0, 0, 0.2);
  }
  .Main .container-form {
    margin-top: 5vh;
  }

  .Main .container-select:hover {
    box-shadow: inset -7px -7px 20px 0 rgba(255, 255, 255, 0.7),
      inset 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
  }
  .Main button {
    width: 100%;
    border: none;
    border-radius: 4px solid transparent;
    color: white;
    background-color: #21b6a8;
    padding: 15px;
    font-size: 20px;
    font-weight: 540;
    box-shadow: -10px -10px 20px 0 rgba(255, 255, 255, 0.7),
      10px 17px 20px 0 rgba(0, 0, 0, 0.2);
  }

  .Main button:hover {
    box-shadow: inset -7px -7px 20px 0 rgba(255, 255, 255, 0.7),
      inset 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
  }

  .random-container-p {
    margin-left: 20vh;
    margin-top: 40px;
    font-weight: bold;
    text-align: center;
    font-family: "Shadows Into Light", cursive;
    font-size: 2.4rem;
    color: rgb(65, 85, 177);
    margin-bottom: 25px;
  }

  .random-container:hover .overlay-title{
    bottom: 40px;
  
  }
  .random-overlay-title {
  font-family: "Shadows Into Light", cursive;
  font-size: 0.9rem;
  color: white;
  text-shadow: 1px 1px 1px black;
  background-color: rgba(0, 0, 0, 0.445);
  width: 100%;
  letter-spacing: 1px;
  padding: 5px 0px;

  }

  .random-container.overlay-title {
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    transition: bottom 1s cubic-bezier(0.65,-0.36, 0.43, 1.79);
  }


  .Main .random-container img {
    width: 40%;
    border-radius: 6px;
    margin-left: 60px;
  }

  a {
    text-decoration: none;
  }
}


