.Team h3 {
    font-size: 16px;
    text-transform: uppercase;
    Color: #5a0353;
    margin: 0;
    padding: 0;
}
.Team h2 {
    font-size: 48px;
    color: fff;
    margin-bottom: 48px;
    margin-top: 0;
}
.Team {
    background-color:  #fff;
    text-align: center;
    padding-top: 80px;
    padding-right: 0;
    padding-bottom: 120px; 
}
.Team .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.teamContainer img{
    width: 200px;
    height: 200px; 
    border-radius: 50%; 
    border: 5px solid #5a0353;
}
