
.random-container img {
    width: 50%;
  }

  
.random-container-p {
    margin-top: 40px;
    font-weight: bold;
    text-align: center;
    font-family: "Shadows Into Light", cursive;
    font-size: 2rem;
    color: rgb(65, 85, 177);
    margin-bottom: 25px;
  }
  
  .random-container-title {
    text-align: center;
    margin-bottom: 40px;
    color: rgba(104, 99, 99, 0.822);
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    font-size: 1rem;
  }

  
  .random-container-p {
    margin-left: 20vh;
    margin-top: 40px;
    font-weight: bold;
    text-align: center;
    font-family: "Shadows Into Light", cursive;
    font-size: 2.4rem;
    color: rgb(65, 85, 177);
    margin-bottom: 25px;
  }

  .random-container:hover .overlay-title {
    bottom: 40px;
  }
  .random-overlay-title {
    font-family: "Shadows Into Light", cursive;
    font-size: 0.9rem;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: rgba(0, 0, 0, 0.445);
    width: 100%;
    letter-spacing: 1px;
    padding: 5px 0px;
  }

  .random-container.overlay-title {
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    transition: bottom 1s cubic-bezier(0.65, -0.36, 0.43, 1.79);
  }

  .Main .random-container img {
    width: 40%;
    border-radius: 6px;
    margin-left: 60px;
  }
