.NavBar {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: rgb(65, 85, 177);
  height: 70px;
  box-shadow: 0px 4px 20px 5px #ffffff;
}

.NavBar-button {
  background-color: transparent;
  border: none;
  padding: 15px 0 0 15px;
}

.NavBar-button:active,
.NavBar-button:focus {
  border: none;
  outline: none;
}

.NavBar-hamburguer {
  font-size: 35px;
  color: white;
}

.NavBar-box {
  display: none;
  flex: 1;
}

.NavBar-box.is-open {
  display: block;
  z-index: -1;
  margin-top: 5px;
  height: 100%;
  color: white;
  font-weight: 300;
}

.NavBar-box-link {
  display: block;
  color: white;
  font-weight: 400;
  background-color: rgb(65, 85, 177);
  padding: 40px 20px;
  height: 80%;
  border-top: 1px solid #6374c3;
}

.NavBar-box-link:hover {
  color: white;
  cursor: pointer;
  background-color: #6374c3;
}

.NavBar-logo-menu {
  flex-direction: row;
  background-color: rgb(65, 85, 177);
}

.navbar-box-item {
  padding-top: 25px;
  font-size: 20px;
}

.NavBar-logo {
  position: relative;
}

.NavBar-logo img {
  position: absolute;
  right: -270px;
  top: -26px;
  width: 140px;
}

@media (min-width: 744px) {
  .NavBar {
    height: 90px;
  }
  .NavBar-box.is-open {
    margin-top: 0px;
    width: 100%;
    background-color: transparent;
  }
  .NavBar-button {
    display: none;
  }
  .NavBar-box {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    box-shadow: black;
    width: 100%;
    height: 90px;
  }
  .NavBar-box-link {
    float: right;
    width: 80px;
    color: white;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 50px;
    font-weight: 400;
    font-size: 1.2rem;
    background-color: transparent;
    padding: 0;
    border-top: none;

  }
  .NavBar-logo-menu {
    display: flex;
    flex-direction: row;
  }
  .NavBar-logo img {
    width: 190px;
    left: 10px;
    top: 3px;
  }
  .NavBar-box-link:hover {
    text-decoration: underline;
    background-color: transparent;
  }
}
