.Drink .drink-container {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.Drink .overlay-title {
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  transition: bottom 1s cubic-bezier(0.65,-0.36, 0.43, 1.79);
}

.drink-container:hover .overlay-title{
  bottom: 40px;

}

.Drink .overlay-title h3 {
  font-family: "Shadows Into Light", cursive;
  font-size: 0.9rem;
  color: white;
  text-shadow: 1px 1px 1px black;
  background-color: rgba(0, 0, 0, 0.445);
  width: 100%;
  letter-spacing: 1px;
  padding: 5px 0px;
}

.Drink img {
  width: 100%;
  margin-bottom: -8px;
}

@media (max-width: 700px) {
  .Drink .overlay-title h3 {
    font-size: 0.7rem;
  }
}

@media (min-width: 1200px) {
  .Drink .drink-container {
    max-width: 250px;
  }
}